.asset-list{
  position: absolute;
  background-color: #1a237e;
  overflow: auto;
  top: 50px;
  right: 0px;
  left:var(--sidenav-width);
  padding: 20px;
  bottom: 0;
  transition: left 0.5s;
}

.pop-image{
  height: 100px;
  width: 100px;
}
.asset-list .btn-csv{
  position: absolute;
  margin: 9px auto;
}

@media screen and (max-width: 750px) {
  .asset-list .btn-csv img{
    display: none;
  }
}
