:root {
  --sidenav-width: 200px;
}
/* The side navigation menu */
.sidenav {
    width: var(--sidenav-width); /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    top: 50px; /* Stay at the top */
    left: 0;
    bottom: 0;
    background-color:  #1a237e;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: width 0.5s;
  }

  .icon{
    color: #fff;
    width: 50px;
    height: 50px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #000;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    cursor: pointer;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    /* transition: margin-left .5s; */
    padding: 20px;
  }

 
  
  @media screen and (max-width: 750px) {
    :root {
      --sidenav-width: 80px;
    }
    #sidenav p{
      display: none;
    }
    .icon{
      width: 40px;
      height: 40px;
    }
    .sidenav a {
      padding: 8px 8px 8px 10px;
    }
  }